<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkolóház</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    <div class="container">
        <!-- Bal oldali tartalom -->
        <div class="bal_oldal">
            <h3>A parkolóhelyek foglaltsága</h3>
            <div id="parkolohelyek">
                <!-- Parkolóhely kártyák megjelenítése itt -->
            </div>
        </div>

        <!-- Jobb oldali tartalom -->
        <div class="jobb_oldal">
            <h2>A jármű rendszáma</h2>
            <div>
                <input type="text" id="rendszam" placeholder="Rendszám" />
                <button id="belepes_gomb" onclick="delayReload()">KÜLDÉS</button>
            </div>
            <h2><span id="belepes_kihajtas"></span></h2>
            <h2><span id="fizetendo_dij"></span></h2>
        </div>
    </div>

    <!-- Fülek (TAB-ok) -->
    <div class="tab-container">
        <div class="tab active" id="naplo_tab">Azonnali napló a járműmozgásokról</div>
        <div style="overflow-x: auto;"></div>
        <div class="tab" id="egyesitett_naplo_tab">Egyesített napló</div>
    </div>

    <!-- Táblázatok -->
    <div class="table-container active" id="naplo_table">
        <div style="overflow-y: auto;">
        <div class="also_kontener">


                <table id="naplo_adatok">
    <thead>
        <tr>
            <th>Rendszám</th>
            <th>Behajtás</th>
            <th>Kihajtás</th>
            <th>Parkolóhely</th>
            <th>Parkolódíj</th>
        </tr>
    </thead>
    <tbody>
        <!-- A JSON fájl adatai ide lesznek betöltve JavaScript segítségével -->
    </tbody>
</table>


            </div>
        </div>
    </div>

    <div class="table-container" id="egyesitett_naplo_table">
        <div class="also_kontener">
            <h3>Egyesített napló adatok</h3>
            <div style="overflow-x: auto;">
                <table>
                    <thead>
                        <tr>
                            <th>Rendszám</th>
                            <th>Behajtás</th>
                            <th>Kihajtás</th>
                            <th>Parkolóhely</th>
                            <th>Parkolódíj</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- A JSON fájl adatai ide lesznek betöltve JavaScript segítségével -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>